body{margin:0;
font-size: 20px;
font-family: system-ui;}
.container{width: 400px;
    height:150px;
    display: inline-block;
background-color: rgb(209, 84, 125);
}
img{margin: 25px 155px;
border-radius: 60px;
border: 3px solid rgb(230, 168, 166);
}
.cont{width: 100%;
height: 50px;
background-color: rgb(209, 84, 125);
color:white;}
.tex{width: 410px;
    height:150px;
    display: inline-block;}
    p{padding-left:50px;
        padding-right: 50px;
}
    
