body
{font-family: 'Dancing Script', cursive;}
html, body {width:100%; overflow-x:hidden}
header{ width: 100%;
    height: 230px;
    background-color:rgb(212, 53, 41);}
main{width: 100%;
    height: 700px;
    background-color: rgb(255, 255, 255);}
footer{width:100%;
height: 200px;
background-color:rgb(64, 21, 143);
color: rgb(255, 255, 255);
font:35px sans-serif;
margin-right: 100px;}
.shap{
    width:100%;
    height:100px;
    font: 1em sans-serif;
    background-color:rgb(212, 53, 41);)
   }
h1{color: gold;
font-size: 49px;
font: 50px sans-serif;}
.Alex{color: rgb(255, 0, 0);
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    text-decoration: underline;
    margin-left:50px;
}
.tell{
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-left:800px;
}
em{font: 1em sans-serif;}
.r{color: red;
font: 47px sans-serif;
margin-left:400px;}
.o{color: rgb(255, 187, 0);
    font: 43px sans-serif; 
    margin-left:200px;}
.y{color: gold;
    font: 50px sans-serif;
    margin-left:150px;}
.g{color: green;
    font: 30px sans-serif;
    margin-left: 300px;}
.b{color: rgba(0, 204, 255, 0.959);
    font: 34px sans-serif;
    margin-left:100px;}
.bb{color:rgb(4, 0, 255);
    font: 38px sans-serif;
    margin-left: 600px;}
.p{color: rgb(153, 0, 255);
    font: 42px sans-serif;
    margin-left: 250px;}
.spi{color: rgb(248, 82, 248);
    font: 50px sans-serif;
    margin-left: 210px;}
    img{width: 400px;
    height: 250px;}
